<table mat-table *ngIf="users" [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> id </th>
    <td mat-cell *matCellDef="let element"> {{element.id }} </td>
  </ng-container>

  <ng-container matColumnDef="mail">
    <th mat-header-cell *matHeaderCellDef> mail </th>
    <td mat-cell *matCellDef="let element"> {{element.mail }} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="disabled">
    <th mat-header-cell *matHeaderCellDef> disabled </th>
    <td mat-cell *matCellDef="let element"> {{element.disabled}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="roles">
    <th mat-header-cell *matHeaderCellDef> roles </th>
    <td mat-cell *matCellDef="let element"> {{element.roles}} </td>
  </ng-container>

  <ng-container matColumnDef="toggleButton">
    <th mat-header-cell *matHeaderCellDef> toggleButton </th>
    <td mat-cell *matCellDef="let element" class="button-container">
      <button mat-raised-button class="custom-toggle" color="primary"(click)="user = element ; changeStatus()">Change Status to
        {{!element.disabled}}
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>